@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
}

.h-100 {
  height: 100% !important;
}

.font-2d {
  font-family: 'Press Start 2P' !important;
}

.relief-btn {
  outline: none;
  border: 0;
  cursor: pointer;
  font-size: 1.2rem;
  transition: transform 0.3s ease-out;
  border-radius: 4px;
  padding: 0.6rem 1rem;
  text-decoration: none;
  margin-left: 1.5rem;
}

.relief-btn:active {
  transform: translateY(2px);
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.col-3 {
  width: 33.33%;
}

.position-relative {
  position: relative !important;
}

.run-btn {
  height: 60px;
  width: 60px;
  border: 0;
  outline: none;
  position: absolute;
  top: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}

.settings-btn {
  border: 0;
  background: transparent;
  outline: none;
  margin-right: 3rem;
  cursor: pointer;
}

.sort-algorithm-name {
  padding: 0.7rem 1rem;
  text-align: center;
}

.pipe {
  width: 15px;
  display: inline-block;
  margin: 0px 5px 0px 5px;
  border-radius: 1px;
  transition: left 0.3s ease-out;
}

.relief-btn:disabled {
  background-color: rgb(105, 37, 75) !important;
  box-shadow: none !important;
  cursor: not-allowed;
}

.run-btn:disabled {
  background-color: rgb(43, 102, 83) !important;
  cursor: not-allowed;
}